.icon-bar.four-up
  =link_to experiences_path, class: 'item' do
    = image_tag('icons/tools.svg')
    %label Praca
  %a.item
    = image_tag('icons/learning.svg')
    %label Edukacja
  = link_to 'https://github.com/Michanio', class: 'item' do
    = image_tag('icons/GitHub-Mark-120px-plus.png')
    %label GitHub
  =link_to contact_path, class: 'item' do
    = image_tag('icons/mail.svg')
    %label Kontakt
